# Entornos virtuales
venv/
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Datos
data/raw/*
!data/raw/.gitkeep

# Modelos generados
models/*.pkl
models/*.joblib

# Resultados temporales
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env
